a {
    color: black;
    text-decoration: none;
}
body {
    position: relative;
    overflow-x: hidden;
}
body,
html { height: 100%;}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1100;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
}

#wrapper.toggled #page-content-wrapper {

    margin-right: -220px;
}
#sidebar-wrapper .sidebar-brand{
  border-bottom: 2px solid #e8e8e8;
    border-top: 2px solid white;
    padding-bottom: 25px;
    padding-top: 30px;
    width: 100%;
}
#sidebar-wrapper .sidebar-brand img{
  width: 200px;
  margin-bottom: 15px;
}
.navbar .nav li a:hover, .dropdown-menu li a:hover {
  background-color:transparent !important;
  text-decoration: underline !important;
  color: yellow !important;
}
/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
#sidebar-wrapper .sidebar-brand{
  text-align: center;
  color: white;
  font-size: 16px;
  width: 250px;
}
.sidebar-nav {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 277px;
    width: 250px;
    font-size: 18px;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}
/*
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;   
}
.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;   
}
.sidebar-nav li:nth-child(4):before {
    background-color: #314190;   
}
.sidebar-nav li:nth-child(5):before {
    background-color: #279636;   
}
.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;   
}
.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;   
}
.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;   
}
.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;   
}
*/


.sidebar-nav li a {
    color: #ddd;
    display: block;
    line-height: 1.5;
    padding: 12px 35px 12px 55px;
    text-decoration: none;  
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}
.dropdown-menu > li > a{
    font-size: 12px;
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 20px;  
  z-index: 1101;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.close{
   background-color: transparent !important;
    background-image: url("/img/close.png") !important;
    background-size: 100% auto !important;
    height: 45px;
    margin-right: -25px;
    opacity: 1;
    width: 45px;
    z-index: 100;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}
.line{
  width: 100%;
  height: 1px;
  background-color: #ccc;
}
.headButtons{
  padding-top: 15px;
  padding-bottom: 15px;
  //padding-left: 70px;
}
@media (max-width: 930px) {
  .headButtons{
    //padding-left: 60px;
  }
}
@media (max-width: 700px) {
  .headButtons{
    //padding-left: 75px;
  }
}

.navbar-fixed-top{
  background-color: white;
}
#orderVideo, .redButton{
    background-color: #ff653d;
    border-color: #ff653d;
    box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.55);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}
#orderVideo:hover, .redButton:hover{
  background-color: #ff0000;
  border-color: #ff0000;
}
#calcVideo{
    background-color: #fed500;
    border-color: #fed500;
    box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.55);
    color: black;
    font-weight: bold;
    padding: 10px 20px;
}
#calcVideo:hover{
  background-color: #ffa600;
  border-color: #ffa600;
}
#calcVideo .fa-calculator{
  font-size: 18px;
}
.headButtons .verticalLine{
    margin-left: 15px;
    margin-right: 15px;
}
.headButtons strong{
  font-size: 18px;
}
.headButtons span{
  font-size: 12px;
}
.mainPromoWrap{
  margin-top: 30px;
  margin-bottom: 30px;
}
.marginTop6{
  margin-top: 6px;
}
.marginTop10{
  margin-top: 10px;
}
.marginTop30{
  margin-top: 30px;
}
.marginTop50{
  margin-top: 50px;
}
.bigText{
  font-size: 38px;
  line-height: 1.5;
}
.redColor{
  color: red;
}
.paddingTop10{
  padding-top: 10px;
}
.paddingTop20{
    padding-top: 20px;
}
.paddingTop40{
  padding-top: 40px;
}
.paddingTop55{
  padding-top: 55px;
}
.breadcrumb{
  background-color: white;
  margin-left: 20px;
}
.col-item{
  border: 1px solid #ccc;
}
.photo img{
  width: 100%;
}
.col-item-block{
  padding-bottom: 30px;
}
.col-item .photo{
  position: relative;
}
.col-item .photo:after{
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    content: "";
    cursor: pointer;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.col-item .photo:hover:after{
    display:block;
}
.project{
  position: absolute;
  left: 15px;
  top: 15px;
  line-height: 1.2;
  color: white;
  display: none;
  z-index: 5;
  height: 150px;
  cursor: pointer;
}
.project strong{
  font-size: 20px;
}
.col-item .photo:hover .project{
  display: block;
}
.project .podrobnee{
  cursor: pointer;
  display: block;
  position: absolute;
  bottom: 15px;
  text-decoration: underline;
}
.projectWrap{
  width: 210px;
  height: 210px;
  margin: 10px;
  float: left;
}
.breadcrumb {

    border-radius: 4px;
    list-style: outside none none;
    margin-top: 15px;
    margin-bottom: 5px;
    padding-left: 0;
}
.verticalCenter{
  vertical-align: middle;
}
.height225{
  height: 225px;
}
.centeredText{
  text-align: center;
}
.list-view{
  padding-top: 0px;
}
.modal-header {
    border-bottom: 0 none;
    color: white;
    left: 0;
    min-height: 16.4286px;
    padding: 0;
    position: absolute;
    top: -45px;
    width: 100%;
    z-index: 10;
}
.bigGreenText{
   color: green;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    width: 80px;
    border-radius: 0px;
    border: 2px solid black;
}
.plusBtn{
  width: 30px;
  height: 30px;
  float: left;
  cursor: pointer;
  margin: 5px;
  margin-top: 20px;
  background-size: 100%;
  background-image: url("/img/plus.png");
}
.minusBtn{
  width: 30px;
  height: 30px;
  float: left;
  cursor: pointer;
  margin: 5px;
  margin-top: 20px;
  background-size: 100%;
  background-image: url("/img/minus.png");
}
.modal-dialog {
    margin-top: 80px;
}
.projectWrap .modal-dialog{
  margin-top: 115px;
}
.modal-content{
  border-radius: 0px;
}
.modal-footer{
    border-top: 0 none;
    margin-top: 0;
    position: absolute;
    width: 600px;
}
.wantItButton{
    background-color: #fed500;
    border-color: #fed500;
    box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.55);
    color: black;
    padding: 10px 20px;
}
.wantItButton:hover{
  background-color: #ffa600;
  border-color: #ffa600;
}
.modal-body{
  margin-bottom: -5px;
    padding: 0;
}
.fontSize30{
  font-size: 30px;
}
.mainOffice{
  text-align: center;
  font-size: 12px;
}
.colorSha{
  color: #9f9f9f;
}
.smallline80{
  height: 1px;
  width: 80%;
  background-color: black;
}
.contactButton{
  border: 1px solid black;
  border-radius: 0px;
}
ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs li{
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs li.current{
  font-weight: bold;
  text-decoration: underline;
}

.tab-content{
  display: none;
  background: #ededed;

}

.tab-content.current{
  display: inherit;
}
.modal-header .close {
    margin-top: 20px;
}
#orderVideoModal .modal-dialog .modal-content, #orderVideoSuccessModal .modal-dialog .modal-content{
  padding-bottom: 50px;
}
.orderVIdeoPhone {
    font-size: 28px;
    height: 45px;
    margin: 0 auto;
    width: 270px;
}
#orderVideoSuccessModal i{
  font-size: 12px;
}
.col-sm-2-5{
  display: block;
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 20%;
    margin-left: -1px;
    height: 280px;
}
.current:before {
    background-image: url("/img/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: "";
    height: 12px;
    left: 26px;
    position: absolute;
    top: 20px;
    width: 19px;
    z-index: 10;
}
.dropdown-menu .current:before{
    background-image: url("/img/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: "";
    height: 11px;
    left: 30px;
    position: absolute;
    top: 17px;
    width: 15px;
    z-index: 10;
}
.current a{
  background-color:transparent !important;
  text-decoration: underline !important;
  color: yellow !important;
}
.modal-sm {
    width: 400px;
}
.close:hover{
  opacity: 1;
}
.modal-backdrop.in {
    opacity: 0.8;
}
.rightBorder{
  border-right: 1px solid white;
}
#calcModal .modal-content{
  padding: 60px;
}
#calcModal h4{
  font-size: 22px;
}
.noPaddingForCols .col-sm-2,.noPaddingForCols .col-sm-3, .noPaddingForCols .col-sm-1, .noPaddingForCols .col-sm-4{
  padding-left: 0px;
  padding-right: 0px;
}
.levelSlozh > section{
  border: 1px solid #ccc;
  text-align: center;
  position: relative;
}
.levelSlozh > section:hover{
  -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.5);
  box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.5);
  cursor: pointer;
}
.levelSlozh > section > img{
  width: 130px;
  margin-top: 20px;
}
.levelSlozh > .currentWr{
  background-color: #fed500;
  border: 2px solid black;
}
.check{
    background-image: url("/img/check.png");
    background-repeat: no-repeat;
    background-position: 50%;
    height: 200px;
    position: relative;
}
.orderVIdeoSubmit{
    background-color: #fed500;
    border-color: #fed500;
    box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.55);
    color: black;
    font-weight: bold;
    padding: 10px 20px;
}
.orderVIdeoSubmit:hover{
    background-color: #ffa600;
}
.levelSlozh > .currentWr::after {
    background-image: url("/img/arrowBottom.jpg");
    bottom: -12px;
    content: "";
    height: 13px;
    left: 56px;
    position: absolute;
    width: 40px;
    background-repeat: no-repeat;
   }
.borderBottom{
  border-bottom: 1px solid black;
}
.cpecHead td{
  color: #ccc;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center !important;
}
.cpecHead{

}
.grayText{
  color: #9f9f9f;
}
.specName{
  font-size: 18px;
}
.specTable{
  margin-top: 30px;
}
.bigRed{
  color: #ff653d;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
}
.rightBorderGray{
    border-right: 1px solid #9f9f9f;
}
.bigGreen{
  font-size: 24px;
  font-weight: bold;
  color: green;
}
#calcModal .bigGrey{
  color: #ccc;
}
.smallGreen{
  color: green;
    font-size: 12px;
    vertical-align: top;
}
input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}
input[type="checkbox"] + label:before {
  background: rgba(0, 0, 0, 0) url("/img/checkbox.png") no-repeat scroll 0 0;
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: 100%;
}
input[type="checkbox"]:checked + label:before {
    background: rgba(0, 0, 0, 0) url("/img/checkbox_checked.png") no-repeat scroll 0 0;
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: 100%;
}
.sumWrap strong{
    font-size: 36px;
    color: red;
}
.sumWrap{
display: block;
    margin: 0 auto;
    padding-left: 240px;
    padding-top: 74px;
    width: 400px;
}
.sumWrap span{
  color: red;
    vertical-align: top;
    line-height: 2;
}
.container {
    width: 100%;
}
.spec1, .spec2, .spec3, .spec4, .spec5{
  display: none;
}
::-webkit-input-placeholder {color:#c0392b;}
::-moz-placeholder          {color:#c0392b;}/* Firefox 19+ */
:-moz-placeholder           {color:#c0392b;}/* Firefox 18- */
:-ms-input-placeholder      {color:#c0392b;}