/* general */
body {
    padding-bottom: 20px;
}

/* Copyright 2013 Soundarapandian
 * Pricing table built on Twitter Bootstrap.
 */

body {
    /* Below styles are used only for pricing table demo purpose.
     * and these styles are not required to integrate the pricing table
     * into your application */
    padding-bottom: 50px;
    /*background-image: url('../images/background.png');*/
}

/*
 * =================== Start pricing table =====================*/

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.precio ul {
    display: block;
    padding: 0;
    margin-bottom: 0;
    text-align: center;
    list-style-type: none;
    line-height: 23px;
    color: #7d7d7d;
    border-top: 1px solid #ddd;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

@media (max-width: 767px) {
    .precio ul {
        display: inline-block;
    }
}

.precio ul > li {
    padding: 11.5px 0;
    border: 1px solid #ddd;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e2e2e2;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #f4f4f4;
    /*&:nth-child(even){
        background: #f4f4f4;
      }*/

}

.precio ul > li:nth-child(odd) {
    background: #f8f8f8;
}

.precio ul > li .icon-remove {
    color: #ff2233;
}

.precio ul.featured,
.precio ul:hover {
    position: relative;
    margin-top: -20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
    .precio ul.featured,
    .precio ul:hover {
        margin-top: 0;
    }
}

.precio.featured {
    padding-top: 40px;
}

.precio.collpase-margin {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0 auto;
}

.precio.collpase-margin ul {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.precio.comparison {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0 auto;
}

.precio.comparison ul:first-child:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.precio.comparison ul:first-child > li {
    font-weight: bold;
}

.precio.comparison ul:hover {
    margin-top: 0;
    margin-bottom: 0;
}

.precio.comparison ul li:first-child {
    background: #e5e5e5;
}

.precio.comparison ul {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.precio .lead {
    display: block;
    margin: 0;
    border-top: none;
    color: #ffffff;
    text-shadow: 0 -1px 1px #999999;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset, 0 2px 0 rgba(255, 255, 255, 0.3) inset;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset, 0 2px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset, 0 2px 0 rgba(255, 255, 255, 0.3) inset;
}

/* Skin Mixin */
/* Skin */
.precio .lead,
.precio.orange .lead {
    border: 1px solid #d3480d;
    border-left-color: #f16022;
    background-image: -moz-linear-gradient(top, #f3753f, #f16022) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3753f), to(#f16022)) !important;
    background-image: -webkit-linear-gradient(top, #f3753f, #f16022) !important;
    background-image: -o-linear-gradient(top, #f3753f, #f16022) !important;
    background-image: linear-gradient(#f3753f, #f16022) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff3753f', endColorstr='#fff16022', GradientType=0) !important;
    *background: #f16022;
}

.precio.green .lead {
    border: 1px solid #668a26;
    border-left-color: #84b231;
    background-image: -moz-linear-gradient(top, #95c939, #84b231) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#95c939), to(#84b231)) !important;
    background-image: -webkit-linear-gradient(top, #95c939, #84b231) !important;
    background-image: -o-linear-gradient(top, #95c939, #84b231) !important;
    background-image: linear-gradient(#95c939, #84b231) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff95c939', endColorstr='#ff84b231', GradientType=0) !important;
    *background: #84b231;
}

.precio.blue .lead {
    border: 1px solid #3b7bbc;
    border-left-color: #5e95cc;
    background-image: -moz-linear-gradient(top, #75a4d3, #5e95cc) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#75a4d3), to(#5e95cc)) !important;
    background-image: -webkit-linear-gradient(top, #75a4d3, #5e95cc) !important;
    background-image: -o-linear-gradient(top, #75a4d3, #5e95cc) !important;
    background-image: linear-gradient(#75a4d3, #5e95cc) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff75a4d3', endColorstr='#ff5e95cc', GradientType=0) !important;
    *background: #5e95cc;
}

.precio.red .lead {
    border: 1px solid #a12f3d;
    border-left-color: #c63d4e;
    background-image: -moz-linear-gradient(top, #cd5564, #c63d4e) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cd5564), to(#c63d4e)) !important;
    background-image: -webkit-linear-gradient(top, #cd5564, #c63d4e) !important;
    background-image: -o-linear-gradient(top, #cd5564, #c63d4e) !important;
    background-image: linear-gradient(#cd5564, #c63d4e) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcd5564', endColorstr='#ffc63d4e', GradientType=0) !important;
    *background: #c63d4e;
}

.precio.gray .lead {
    border: 1px solid #a1a1a1;
    border-left-color: #bababa;
    background-image: -moz-linear-gradient(top, #c9c9c9, #bababa) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c9c9c9), to(#bababa)) !important;
    background-image: -webkit-linear-gradient(top, #c9c9c9, #bababa) !important;
    background-image: -o-linear-gradient(top, #c9c9c9, #bababa) !important;
    background-image: linear-gradient(#c9c9c9, #bababa) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc9c9c9', endColorstr='#ffbababa', GradientType=0) !important;
    *background: #bababa;
}

.precio.black .lead {
    border: 1px solid #454545;
    border-left-color: #5e5e5e;
    background-image: -moz-linear-gradient(top, #6d6d6d, #5e5e5e) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6d6d6d), to(#5e5e5e)) !important;
    background-image: -webkit-linear-gradient(top, #6d6d6d, #5e5e5e) !important;
    background-image: -o-linear-gradient(top, #6d6d6d, #5e5e5e) !important;
    background-image: linear-gradient(#6d6d6d, #5e5e5e) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6d6d6d', endColorstr='#ff5e5e5e', GradientType=0) !important;
    *background: #5e5e5e;
}

.plan-mouseover .plan-name {
    background-color: #4e9a06 !important;
}

.btn-plan-select {
    padding: 8px 25px;
    font-size: 18px;
}

/*
 * =================== End pricing table =====================*/

@media (max-width: 767px) {
    .pricing-table .plan {
        margin-bottom: 20px;
    }

    .pricing-variable-height .plan {
        margin-left: 0;
    }

    .pricing-three-column {
        width: 100%;
    }
}

span.label a {
    color: #FFF;
}

/* blog */
.blog-info > span {
    display: inline-block;
    padding-right: .7em;
}

.blog-info > h2 {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 0 .4em 0;
}

/* all widgets */
.widget {
    margin-bottom: 2em;
}

/* tagsCloud widget */
.tags-cloud-widget ul.inline > li {
    padding-left: 0;
    line-height: 30px;
}

.tags-cloud-widget span.label {
    padding: 4px 6px;
}

.tags-cloud-widget span.label a:hover {
    text-decoration: none;
}

.tags-cloud-widget span.label:hover {
    background: #F90;
}

.ya-money iframe {
    max-width: 100%;
    min-width: 220px;
}

/* modern layout */
.module-info h3 {
    margin-bottom: 0;
}

/* custom navbar */
.navbar-brand {
    padding: 7px 7px 7px 0;
    margin: 0;
}

.navbar .brand > .brand-name {
    margin: 0 5px;
}

.navbar .nav {
    /*margin: 6px 10px 0 0;*/
}

.navbar .nav > li > a {
    /*margin: 0 2px;*/
}

.navbar .nav > li > a:hover {
    background-color: #E5E5E5;
}

.navbar-inner {
    background-image: none;
    background-color: #FFF;
    border: 1px solid #FFC200;
}

.navbar .collapse.in {
    top: 10px;
}

/* avatar */
.avatar {
    background-color: #F5F5F5 !important;
    border: 1px solid #F5F5F5;
    border-radius: 2px;
    box-shadow: 1px 1px 10px 0 rgb(201, 201, 201);
    display: inline-block;
}

.avatar img {
    display: inline-block;
    border-radius: 2px;
}

.thumbnails .items > li {
    padding-bottom: 10px;
}

.thumbnails .items > li .thumbnail .caption h3 {
    font-size: 16px;
}

.thumbnails .items > li .thumbnail .caption h3, .thumbnails .items > li .thumbnail .caption p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* gallery list */
.gallery-list {
    margin-bottom: 30px;
}

/* comments */
.comment-botton-right {
    float: right;
}

.comment-body > ul li {
    display: inline-block;
    margin: 0 .2em 0 .8em;
    vertical-align: middle;
}

.comment-body > p {
    padding: .3em 1.2em .3em 0;
    margin: 0;

}

.user-info {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.user-info .btn {
    padding: 0;
}

.copyright > li:first-child {
    margin-top: 6px;
}

/* Large desktop */
@media (min-width: 1200px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .navbar {
        position: fixed;
    }
    .navbar-brand {
        margin-left: 20px;
    }
}

.relative {
    position: relative;
}

.forkme {
    position: absolute;
    top: 0;
    right: 0;
    width: 142px;
    height: 142px;
    background: url(../images/forkme.png) no-repeat;
}
